*{
  box-sizing: border-box;
}
body{
  display:grid;
  /*grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 2fr 2fr 1fr;*/
  /*grid-template-areas:
    "ting ting ting"
    "ting ting ting"
    "ting ting ting";*/
}
header{
  border:solid;
}
nav{
  border:solid;
}
main{
  border:solid;
}
